/* body  */

body, html {
  background-image: linear-gradient(to top, #49a078 0%, #9cc5a1 99%, #9cc5a1 100%);
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #1f2421;
}

button {
  background-color: #dce1de;
  font-family: 'Montserrat', sans-serif;
  color: #1f2421;
  /* font-weight: bold; */
  border: 0px;
  border-radius: 5px;
  padding: 5px;
}

/* nav bar  */


/* header  */


/* main  */

.main-widget {
  border: 2px solid red;
}


/* profile aside  */