/* body  */

body, html {
  background-image: linear-gradient(to top, #49a078 0%, #9cc5a1 99%, #9cc5a1 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  border: 0px;
  margin: 0 px;
  font-family: 'Montserrat', sans-serif, bold;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.aside-btn, .aside-dropdown-btn {
  background-color: #dce1de;
  font-family: 'Montserrat', sans-serif;
  color: #1f2421;
  border: 0px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 20px;
}

main {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75%;
}

aside {
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* nav bar  */

.main-nav-bar {
  width: 50px;
  margin-left: 10px;
}

/* header  */

.header {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  width: 100%;
  height: 25%;
  font-weight: bolder;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid yellow;
  font-size: larger;
  margin: 10px 30px;
}

.header-message {
  border: 2px solid purple;
  margin-left: 10%;
}

.header-logo {

}

/* main  */

.main-widget {
  border-radius: 5px;
  width: 400px;
  height: 30%;
  margin-top: 50px;
  padding: 20px;
  background-color: #dce1de;
  opacity: 100%;
}

/* profile aside  */

.main-profile-bar {
  width: 25%;
  max-width: 300px;
  font-weight: bolder;
}

.profile-photo {
  margin: 40px;
  height: 200px;
   width: 200px;
   clip-path: circle();  
}

#sleepWidget {
  background-size:cover;
  background-image: url(https://cache.desktopnexus.com/thumbseg/1538/1538054-bigthumbnail.jpg);
}

#waterWidget {
  background-size: contain;
  background-image: url(https://vsthemes.org/uploads/posts/2021-07/1626002744_skrinshot-11-07-2021-16_24_24.png);
}

#stepsWidget {
  background-size: cover;
  background-image: url(https://1.bp.blogspot.com/-xxPNhLnqRw4/UsZ5378PrgI/AAAAAAAACRE/DmjUGk1p8Lk/s1600/Outdoor+Anime+Landscape+[Scenery+-+Background]+101.png);
}

#stairsWidget {
  background-size: cover;
  background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2017/05/23/1090456/9e31c9f73f7d83882f65b0ab9f433d54-700.jpg);
}