$primaryColor: #49A078;
$secondaryColor: #9cc5a1;
$tertiaryColor: #216869;

body, html {
    background-image: linear-gradient(to top, $primaryColor 0%, $secondaryColor 99%, $secondaryColor 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    border: 0px;
    margin: 0 px;
    font-family: 'Montserrat', sans-serif, bold;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}
  
  .aside-btn {
    background-color: #dce1de;
    font-family: 'Montserrat', sans-serif;
    color: #1f2421;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 20px;
    font-size: larger;
  }
  
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75%;
    background-color: #DCE1DE;
  }
  
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: $tertiaryColor;
  }
  
  /* nav bar  */
  
  .main-nav-bar {
    width: 8%;
    margin-left: 0px;
    display: flex;
    
  }
  
  /* header  */
  
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    font-weight: bolder;
    background-color: $primaryColor;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: larger;
    margin: 5px 30px;
  }
  
  .header-message {
    margin-left: 10%;
    font-size: x-large;
  }
  
  /* main  */
  
  .main-widget {
    border-radius: 5px;
    width: 400px;
    height: 30%;
    margin-top: 50px;
    padding: 20px;
    background-color: #dce1de;
    opacity: 100%;
  }
  
  #sleepWidget {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://cache.desktopnexus.com/thumbseg/1538/1538054-bigthumbnail.jpg);
    background-size:cover;
  }
  
  #waterWidget {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://vsthemes.org/uploads/posts/2021-07/1626002744_skrinshot-11-07-2021-16_24_24.png);
    background-size: cover;
  }
  
  
  #stepsWidget {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://1.bp.blogspot.com/-xxPNhLnqRw4/UsZ5378PrgI/AAAAAAAACRE/DmjUGk1p8Lk/s1600/Outdoor+Anime+Landscape+[Scenery+-+Background]+101.png);
    background-size: cover;
  }
  
  #stairsWidget {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://www.wallpaperup.com/uploads/wallpapers/2017/05/23/1090456/9e31c9f73f7d83882f65b0ab9f433d54-700.jpg);
    background-size: cover;
  }
  
  /* profile aside  */
  
  .main-profile-bar {
    width: 25%;
    max-width: 300px;
    font-weight: bolder;
  }
  
  .profile-photo {
    margin: 40px;
    height: 200px;
     width: 200px;
     clip-path: circle();  
  }
  
  div > p {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background-attachment: fixed;
    filter: blur(12px);
  }